<table>
  <tr>
    <th>My Profile</th>
    <th><%= link_to "Edit profile", edit_user_path(current_user) %></th>
  </tr>
  <% if current_user.name.present? %>
    <tr>
      <td>Name</td>
      <td><%= current_user.name %></td>
    </tr>
  <% end%>

  <% if current_user.age.present? %>
    <tr>
      <td>Age</td>
      <td><%= current_user.age %></td>
    </tr>
  <% end %>

  <% if current_user.cancer_type.present? %>
    <tr>
      <td>Type of Cancer</td>
      <td><%= current_user.cancer_type %></td>
    </tr>
  <% end %>

  <% if current_user.diagnosis_date.present? %>
    <tr>
      <td>Year of Diagnosis</td>
      <td><%= current_user.diagnosis_date %></td>
    </tr>
  <% end %>
</table>

<% if current_user.story.present? %>
    <p>Story</p>
    <p><%= current_user.story %></p>
<% end %>

<% current_user.stories.each do |story| %>
  <%= image_tag(story.photo_url, { width: 300 }) %>
<% end %>
