<table>
  <tr>
    <th>My Profile</th>
    <th><%= link_to "Edit profile", [:edit, current_user] %></th>
  </tr>
  <% if current_user.name.present? %>
    <tr>
      <td>Name</td>
      <td><%= current_user.name %></td>
    </tr>
  <% end%>

  <% if current_user.age.present? %>
    <tr>
      <td>Age</td>
      <td><%= current_user.age %></td>
    </tr>
  <% end %>

  <% if current_user.cancer_type.present? %>
    <tr>
      <td>Type of Cancer</td>
      <td><%= current_user.cancer_type %></td>
    </tr>
  <% end %>

  <% if current_user.diagnosis_date.present? %>
    <tr>
      <td>Year of Diagnosis</td>
      <td><%= current_user.diagnosis_date %></td>
    </tr>
  <% end %>
</table>

<% if current_user.story.present? %>
    <p>Story</p>
    <p><%= current_user.story %></p>
<% end %>

<% current_user.stories.each do |story| %>
  <%= image_tag(story.photo_url, { width: 300 }) %>
<% end %>

<% if current_user.stories.present? %>
  <% current_user.stories.each do |photo| %>
    <% if photo.photo_url %>
      <%= image_tag(photo.photo_url, { width: 300 }) %>
    <% end %>
  <% end %>

  <% current_user.stories.each do |video| %>
    <% if video.video_url %>
      <%= video_tag(video.video_url, { width: 500 }, controls: true) %>
    <% end %>
  <% end %>
<% end %>
