<table>
  <tr>
    <th>User Information</th>
    <th><%= link_to "Edit profile", [:edit, @user] %></th>
  </tr>
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
  <tr>
  <tr>
    <td>Age</td>
    <td><%= @user.age %></td>
  </tr>
    <td>Type of Cancer</td>
    <td><%= @user.cancer_type %></td>
  </tr>
    <td>Year of Diagnosis</td>
    <td><%= @user.diagnosis_date %></td>
  </tr>
  </tr>
    <td>Story</td>
    <td><%= @user.story %></td>
  </tr>
</table>

<% @story.each do |story| %>
  <%= image_tag(story.photo_url, { width: 300 }) %>
<% end %>
