<!DOCTYPE html>
<html>
  <head>
    <title>I'm a Survivor Too</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
<body>


<div class="wrapper-for-content-outside-of-footer">
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/assets/logo.png" alt="">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home", root_path %></a></li>
        <li class="nav-link more"><a href="javascript:void(0)">About Upstage Lung Cancer</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Our Mission</a></li>
            <li><a href="javascript:void(0)">Hildy's Story</a></li>
            <li><a href="javascript:void(0)">Events</a></li>
            <li class="more"><a href="javascript:void(0)">Get Involved</a>
              <ul class="submenu">
                <li><a href="mailto:sherry.seibel@gmail.com?Subject=I%20want%20to%20volunteer!">Volunteer</a></li>
                <li><a href="https://www.kintera.org/AutoGen/Simple/Donor.asp?ievent=1036168&en=6pLBKLNnE5LKJVMqG4LHJRMAJgKEIPNxEcLKI0PGJpI1E">Donate</a></li>
              </ul>
            </li>
          </ul>
        </li>
          <li class="nav-link"><a href="https://www.kintera.org/AutoGen/Simple/Donor.asp?ievent=1036168&en=6pLBKLNnE5LKJVMqG4LHJRMAJgKEIPNxEcLKI0PGJpI1E">Donate</a></li>
          <% if user_signed_in? %>
            <li class="nav-link more"><a href="javascript:void(0)"><%= current_user.username %></a>
              <ul class="submenu">
                <li><%= link_to "My Profile", :user %></a></li>
              <li><%= link_to "My Home Page", stories_path %></li>
                <li><%= link_to "Share My Story" %></a></li>
                <li><%= link_to "Edit My Account", edit_user_registration_path %></a></li>
                <li class="more"><a href="javascript:void(0)">Get Involved</a>
                  <ul class="submenu">
                    <li><a href="mailto:sherry.seibel@gmail.com?Subject=I%20want%20to%20volunteer!">Volunteer</a></li>
                    <li><a href="https://www.kintera.org/AutoGen/Simple/Donor.asp?ievent=1036168&en=6pLBKLNnE5LKJVMqG4LHJRMAJgKEIPNxEcLKI0PGJpI1E">Donate</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          <% end %>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "sign-in" %>
        <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>

<%= yield %>

<footer class="footer-2">
  <div class="footer-logo">
    <img src="/assets/logo.png" alt="">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="mailto:sherry.seibel@gmail.com?Subject=Contact%20Upstage%20Lung%20Cancer">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="">
        </a></li>
      </ul>
    </div>
</footer>

</body>
</html>
